datasets
soundfile
tqdm
huggingface_hub
pronouncing
espeak-phonemizer
torchinfo
torchmetrics
numpy
scipy>=1.10,<1.17
pyyaml
audiomentations
torch-audiomentations
speechbrain
mutagen
acoustics
deep-phonemizer==0.0.19
scikit-learn
requests
onnx
piper-sample-generator
